body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f2f5;
}

#main{
    width: 100%;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important; /* here we have used !important because we using the bootstrap style, so in order to overrider this we !important;*/
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2em;
}

.f-info{
    text-align: center;
    display: flex;
    background-color: #ebebeb;
    height: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Card Design */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0px;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* creating clickable effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* Card Hover Effect */
.card:hover, .listing-card:hover, .category-card:hover {
  transform: translateY(-8px) scale(1.04);
  box-shadow: 0 15px 25px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s, transform 0.3s;
}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* New page designing */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* styling the image and btn in the show.ejs */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

svg{
    height: 2rem;
    width: 2rem;
}

/* Map Styling */
#map { 
    height: 400px;
    width: 117vh;
}
